body {
 height: auto;
 width: 100%;
 font-family: 'Cabin', sans-serif;
 font-size: 18px;
}

.flash-box {
  padding: 10px 5px;
  min-height: 40px;

  background-color: lightred;
  color: black;

  display: inline-block;
  margin: auto;
}
